<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="kids">
      <ion-icon src="/assets/icons/tabs/kids/kids-64.svg"></ion-icon>
      Kids
    </ion-tab-button>
    <ion-tab-button tab="rewards">
      <ion-icon src="/assets/icons/tabs/rewards/rewards-64.svg"></ion-icon>
      Rewards
    </ion-tab-button>
    <ion-tab-button tab="consequences">
      <ion-icon
        src="/assets/icons/tabs/consequences/consequences-64.svg"
      ></ion-icon>
      Consequences
    </ion-tab-button>
    <ion-tab-button tab="parents">
      <ion-icon src="/assets/icons/tabs/parents/parents-64.svg"></ion-icon>
      Parents
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
